.about-project {
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    margin-bottom: 62px;
  }

  > .wrapper {
    display: flex;
    margin-left: -16%;
    position: relative;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }

    > .photo-wrapper {
      aspect-ratio: 695/677;
      max-width: 687px;
      flex-shrink: 0;
      width: 100%;
      position: relative;

      @media (max-width: 1200px) {
        order: 2;
        margin-bottom: 16px;
      }

      > .photo {
        width: 100%;
        height: auto;
      }

      > .bigger-laptop {
        display: none;

        @media (max-width: 1200px) {
          display: block;
          padding: 12px 0;
          text-align: center;
          background: var(--gradient);
        }
      }
    }

    > .post {
      z-index: 99;

      @media (max-width: 1200px) {
        order: 1;
      }

      > .title {
        margin-bottom: 48px;
        font-size: var(--font-size-29xl);
        font-weight: 700;
        line-height: 130%;
        text-transform: uppercase;
        background: var(--gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 1130px) {
          margin-bottom: 30px;
        }

        @media (max-width: 1200px) {
          text-align: center;
        }

        @media (max-width: 768px) {
          font-size: var(--font-size-17xl);
        }
      }

      > .description-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 40px;

        @media (max-width: 1130px) {
          gap: 16px;
          margin-bottom: 20px;
        }

        > .description {
          max-width: 778px;
          color: var(--color-text-main);
          font-size: var(--font-size-3xl);
          line-height: 130%;
          letter-spacing: 0.66px;

          @media (max-width: 768px) {
            font-size: var(--font-size-3l);
          }
        }
      }

      > .signature-container {
        > .name-title {
          margin-bottom: 4px;
          color: var(--color-white);
          font-size: var(--font-size-12xl);
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;

          @media (max-width: 768px) {
            font-size: var(--font-size-4l);
          }
        }

        > .position {
          color: var(--color-white);
          font-size: var(--font-size-5xl);
        }
      }

      > .signature-container-none {
        @media (max-width: 1200px) {
          display: none;
        }
      }
    }

    > .bg {
      position: absolute;
      bottom: 3px;
      left: 200px;
      right: -320px;
      height: 114px;
      background: var(--gradient);
      z-index: -1;

      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}
