* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  font-family: var(--font-verdana);
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}
